<ion-view view-title="Chat App">

  <!--Start - Navigation bar profile button-->
  <!--<ion-nav-buttons side="primary">-->
  <!--<a class="button button-icon button-clear icon ion-person button-small" href="#/nav/profile"></a>-->
  <!--</ion-nav-buttons>-->
  <!--End - Navigation bar profile button-->

  <!--<ion-nav-buttons side="secondary">-->
  <!--<a class="button button-icon button-clear icon ion-compose button-small"></a>-->
  <!--</ion-nav-buttons>-->

  <!--Start - Tabs-->
  <ion-tabs class="tabs-stable tabs-icon-top">
    <ion-tab title="Chat"  badge-style="badge-assertive" icon-on="calm ion-chatbubble-working"
             icon-off="dark ion-chatbubble-working" href="#/nav/chat">
      <!--Tab Content-->
      <ion-nav-view name="tab-chat"></ion-nav-view>
    </ion-tab>
<!-- badge="10"-->
    <ion-tab title="Groups" badge-style="badge-assertive" icon-on="calm ion-chatbubbles"
             icon-off="dark ion-chatbubbles" href="#/nav/group">
      <!--Tab Content-->
      <ion-nav-view name="tab-group"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
  <!--End - Tabs-->
</ion-view>
