<!--Start - Sign in view-->
<ion-view view-title="Chat App">
  <!--Start - Sign in sub header-->
  <div class="bar bar-subheader">
    <h1 class="title">Login</h1>
  </div>
  <!--End - Sign in sub header-->

  <ion-content class="padding has-subheader">
    <!--Start - Sign in form-->
    <form action="#/nav/chat">
      <div class="list practera-forms">
        <label class="item item-input">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
        <input type="submit" class="item button button-calm button-block" value="Sign In">
        <p class="text-right"><a class="dark">Forgot Password</a></p>
      </div>
    </form>
    <!--End - Sign in form-->
  </ion-content>
  <!--Start - Sign up view link-->
  <div class="bar bar-footer">
    <p style="width: 100%;" class="text-center">Not registered yet? <a class="calm" href="#/signup">Sign up</a></p>
  </div>
  <!--End - Sign up view link-->
</ion-view>
<!--End - Sign in view-->
