# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

www/css/ionic.app.cs
www/css/ionic.app.min.cs


www/lib/angular
www/lib/angular-animate
www/lib/angular-sanitize
www/lib/angular-ui-router
www/lib/angular-moment
www/lib/moment

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
www/js/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
www/lib/moment
www/lib/angular
www/lib/angular-moment
www/lib/angular-sanitize
www/lib/angular-ui-router
www/lib/angular-animate

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
