<!--Start - chat create contact list-->
<ion-view view-title="Chat App">

  <!--Start - Sub header search field-->
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
  </div>
  <!--End - Sub header search field-->

  <!--Start - Navigation bar bak button-->
  <ion-nav-buttons side="left">
    <a ng-if="contactCtrl.view === 'one2one' || contactCtrl.view === 'group'" ng-click="contactCtrl.goToBackView()"
       class="button button-icon icon ion-ios-arrow-back"></a>
  </ion-nav-buttons>
  <!--End - Navigation bar bak button-->

  <!--Start - Navigation bar create group button-->
  <ion-nav-buttons side="secondary">
    <button ng-if="!contactCtrl.checkHasMembers()" class="button button-clear button-small calm"
            ng-click="contactCtrl.createGroupChat()">{{contactCtrl.saveButtonText}}</button>
  </ion-nav-buttons>
  <!--End - Navigation bar create group button-->

  <ion-content class="has-subheader">

    <!--Start - Chat with helpdesk-->
    <ion-list class="helpdesk" ng-if="contactCtrl.view === 'one2one'">
      <ion-item class="item-avatar item-icon-right item-text-wrap helpdesk-item"
                href="#/chat-messages?chatId=0&type='single'">
        <img src="http://helpdesk.mdslogistics.net/components/images/logo2.png">
        <i class="icon ion-ios-arrow-right placeholder-icon" style="font-size: 16px"></i>
        <div class="row hrlpdesk-remove-left-padding">
          <div class="col col-100 col-center hrlpdesk-remove-left-padding">
            <h2>Helpdesk</h2>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <!--End - Chat with helpdesk-->

    <!--Start - One to one chat contact List-->
    <ion-list ng-if="contactCtrl.view === 'one2one'">
      <!--<ion-item class="item-divider">A</ion-item>-->
      <ion-item class="item-avatar item-icon-right item-text-wrap" ng-repeat="contact in contactCtrl.contactList"
                auto-list-divider auto-list-divider-value="{{contact.first_name}}"
                ng-click="contactCtrl.createNormalChat(contact.id)">
        <img ng-src="{{contact.image_url}}" src="http://bdfjade.com/data/out/75/5807300-avatar-images.png">
        <i class="icon ion-ios-arrow-right placeholder-icon" style="font-size: 16px"></i>
        <div class="row">
          <div class="col col-100 col-center">
            <h2 class="text-left">{{contact.first_name}} {{contact.last_name}}</h2>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <!--End - One to one chat contact List-->

    <!--Start - Group chat contact List-->
    <ion-list ng-if="contactCtrl.view === 'group' || contactCtrl.view === 'groupInfo'" class="item-checkbox-right item-accordion">
      <ion-checkbox class="contact-checkbox" ng-repeat="contact in contactCtrl.contactList track by $index"
                    auto-list-divider auto-list-divider-value="{{contact.first_name}}"
                    ng-model="contact.active"
                    ng-click="contactCtrl.selectOrUnselectUser($index)">
        <div class="row remove-padding">
          <div class="col col-20 col-center remove-padding">
            <img ng-src="{{contact.image_url}}" width="40px" height="40px" src="http://bdfjade.com/data/out/75/5807300-avatar-images.png">
          </div>
          <div class="col col-80 col-center remove-padding">
            <h2 class="text-left">{{contact.first_name}} {{contact.last_name}}</h2>
          </div>
        </div>
      </ion-checkbox>
    </ion-list>
    <!--End - Group chat contact List-->

  </ion-content>
</ion-view>
<!--Start - chat create contact list-->
