<!--Start - Change password view-->

<ion-modal-view>
  <ion-header-bar class="bar-stable" style="color: #6ebdd3 !important">
    <h1 class="title">Change Password</h1>
    <button ng-click="messageCtrl.closeChangePasswordModal()" class="button button-clear button-small">Cancel</button>

  </ion-header-bar>
  <ion-content class="padding">
    <p>{{passwordChangeErrors.emptyError}}</p>
    <p>{{passwordChangeErrors.misMatchError}}</p>
    <form ng-submit="messageCtrl.changeUserPassword()">
      <div class="list practera-forms">
        <label class="item item-input">
          <input type="password" required placeholder="Current password*" ng-model="passwordChangeInfo.currentPass">
        </label>
        <label class="item item-input">
          <input type="password" required placeholder="New password*" ng-model="passwordChangeInfo.newPass">
        </label>
        <label class="item item-input">
          <input type="password" required placeholder="Conform password*" ng-model="passwordChangeInfo.newPassConform">
        </label>
        <input type="submit" class="item button button-calm button-block" value="Submit">
      </div>
    </form>
  </ion-content>
</ion-modal-view>

<!--Start - Change password view-->
