<ion-view view-title="Profile">
  <ion-content class="padding">
    <div class="profile-view">
      <img align="center"
           src="https://exelord.com/ember-initials/images/default-d5f51047d8bd6327ec4a74361a7aae7f.jpg">
      <a class="profile-button button icon ion-edit button-calm button-small" href="#/profileEdit"></a>
      <h3>User Name</h3>
      <h5>abcd@abcd.com</h5>
    </div>
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-log-out"></i>
        Logout
      </a>
    </div>
  </ion-content>

</ion-view>
