<!--Start - Group list-->
<ion-view view-title="Chat App">

  <!--Start - Navigation bar profile button-->
  <ion-nav-buttons side="primary">
    <a class="button button-icon button-clear icon ion-person button-small" href="#/profile"></a>
  </ion-nav-buttons>
  <!--End - Navigation bar profile button-->

  <!--Start - Navigation bar button for create new group-->
  <ion-nav-buttons side="secondary">
    <a class="button button-icon button-clear icon ion-compose button-small" href="#/contact-list/group"></a>
  </ion-nav-buttons>
  <!--End - Navigation bar button for create new group-->

  <!--Start - Group chat search-->
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
  </div>
  <!--End - Group chat search-->

  <ion-content class="has-subheader">
    <!--Start - Group chat search-->
    <!--<div class="list list-inset">-->
    <!--<label class="item item-input">-->
    <!--<i class="icon ion-search placeholder-icon"></i>-->
    <!--<input type="text" placeholder="Search">-->
    <!--</label>-->
    <!--</div>-->
    <!--End - Group chat search-->
    <!--Start - Group chat list-->
    <ion-list>
      <ion-item class="item-avatar-left" ng-repeat="group in groupCtrl.groups" ng-click="groupCtrl.setThread(group)" href="#/chat-messages?threadId={{group.threadId}}&type={{group.type}}">
        <img ng-src="{{group.image}}" src="https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579_960_720.png">
        <h2>{{group.displayName}}</h2>
        <p>{{group.lastMessage}}</p>
        <span class="badge badge-calm" ng-hide="group.unseenCount === '0'">{{group.unseenCount}}</span>
      </ion-item>
    </ion-list>
    <!--End - Group chat list-->
  </ion-content>
</ion-view>
<!--End - Group list-->
