<!--Start - Group image edit popup-->
<div class="list">
  <div class="item" style="border:none;">
    <!--Start - Open camera button-->
    <button style=" border-bottom: 1px solid #e0e0e0 !important; color: black;"
            class="button button-stable button-clear button-block">Take Photo
    </button>
    <!--End - Open camera button-->
    <!--Start - Open gallery button-->
    <button style=" border-bottom: 1px solid #e0e0e0 !important; color: black;"
            class="button button-stable button-clear button-block">Open Gallery
    </button>
    <!--Start - Open gallery button-->
  </div>
</div>
<!--End - Group image edit popup-->
