/* Empty. Add your own CSS if you like */

.profile-view {
  margin-bottom: 35px !important;
}

.profile-image, .profile-view, .edit-profile {
  width: 100%;
  text-align: center;
  position: relative;
}

.profile-image img {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.edit-profile img {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

.profile-view img {
  height: 40%;
  width: 40%;
  border-radius: 50%;
  box-shadow: 1px 1px 5px gray;
}

.profile-view .button {
  background-color: white !important;
  color: #6ebdd3 !important;
  border: 1px solid #6ebdd3 !important;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.profile-button .button-icon .icon:before {
  font-size: 24px !important;
}

.profile-button .icon:before {
  font-size: 32px !important;
}

.profile-image label {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  color: white;
  font-size: xx-large;
}

.profile-image h5, .profile-view h5, .edit-profile h5 {
  color: gray;
}

.edit-profile .button {
  /*padding: 15px 18px 15px 18px;*/
  /*background: white !important; !* For browsers that do not support gradients *!*/
  background: radial-gradient(#e0e0e0, white, gray); /* Standard syntax (must be last) */
  color: #6ebdd3 !important;
  border: 3px solid #6ebdd3 !important;
  border-radius: 50%;
  position: absolute;
  top: 85%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.practera-forms .item {
  margin: 0;
  border: none;
  border-bottom: 1px solid #e0e0e0 !important;
}

.practera-forms .item {
  padding-left: 0;
}

.bubbleLeft {
  position: relative;
  min-height: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #e0e0e0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: fit-content;
}

.bubbleRight {
  color: white !important;
  position: relative;
  min-height: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #6ebdd3;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: fit-content !important;
  float: right !important;
}

.chat-list {
  border: none !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 10px !important;
}

.chat-time-right {
  position: relative;
  float: right !important;
  width: fit-content !important;
}

.chat-user-options {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  color: gray;
  font-size: xx-large;
}

.bar-image {
  position: relative;
}

.bar-image img {
  border-radius: 50%;
  max-height: 35px;
  max-width: 35px;
}

.bar-image a {
  color: #6ebdd3 !important;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-10%, -10%);
}

.bar-edit-button {
  font-size: 16px !important;
}

.remove-padding {
  padding: 0 !important;
}

.contact-checkbox {
  padding-left: 16px !important;
  padding: 2px !important;
}

.group-info-button {
  margin-top: 10px !important;
}

.group-info-button button {
  border-radius: 50% !important;
  padding: 0;
}

.group-info-button button i:before {
  font-size: 18px !important;
}

.tabs-stable .tab-item.tab-item-active, .tabs-striped .tab-item.activated {
  border-color: #6ebdd3 !important;
  color: #6ebdd3 !important;
}

.bar.bar-stable, .bar-stable .button.button-clear, .bar.bar-stable .title, .bar-stable .button {
  color: #6ebdd3 !important;
}

.button-bar > .button {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.chat-time-cell {
  padding: 0 !important;
}

.group-see-all {
  font-size: 14px !important;
  line-height: 14px !important;
  min-height: 15px !important;
}

.group-remove-user:before {
  font-size: 24px !important;
  line-height: 24px !important;
  min-height: 25px !important;
}

.helpdesk h6 {
  margin: 0 !important;
}

.helpdesk-item {
  border-bottom: 1px solid #e0e0e0 !important;
  border-top: none !important;
}

.hrlpdesk-remove-left-padding {
  padding-left: 0px !important;
}
